<a href="https://colab.research.google.com/github/sindhudaly-spec/IIy-IIIs-python/blob/main/Unit4.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import pandas as pd

data = [10, 20, 30, 40, 50]
series = pd.Series(data)
print(series)

0    10
1    20
2    30
3    40
4    50
dtype: int64

In [2]:
import pandas as pd
import numpy as np

exam_data = {
    'name': ['Anastasia', 'Dima', 'Katherine', 'James', 'Emily', 'Michael', 'Laura', 'Kevin', 'Jonas', 'Sophia'],
    'score': [12.5, 9, 16.5, np.nan, 9, 20, 14.5, np.nan, 8, 19],
    'attempts': [1, 3, 2, 3, 2, 3, 1, 1, 2, 1]
}

df = pd.DataFrame(exam_data)
print(df)

        name  score  attempts
0  Anastasia   12.5         1
1       Dima    9.0         3
2  Katherine   16.5         2
3      James    NaN         3
4      Emily    9.0         2
5    Michael   20.0         3
6      Laura   14.5         1
7      Kevin    NaN         1
8      Jonas    8.0         2
9     Sophia   19.0         1

In [3]:
import pandas as pd
import numpy as np

# Part A: Create the DataFrame
exam_data = {
    'name': ['Anastasia', 'Dima', 'Katherine', 'James', 'Emily', 'Michael', 'Matthew', 'Laura', 'Kevin', 'Jonas'],
    'score': [12.5, 9, 16.5, np.nan, 9, 20, 14.5, np.nan, 8, 19],
    'attempts': [1, 3, 2, 3, 2, 3, 1, 1, 2, 1],
    'qualify': ['yes', 'no', 'yes', 'no', 'yes', 'yes', 'no', 'no', 'no', 'yes']
}
labels = ['a', 'b', 'c', 'd', 'e', 'f', 'g', 'h', 'i', 'j']
df = pd.DataFrame(exam_data, index=labels)

print("Original DataFrame:")
print(df)
print("\n" + "="*50 + "\n")

# Part B: Change 'James' to 'Suresh'
df.loc[df['name'] == 'James', 'name'] = 'Suresh'

print("DataFrame after changing 'James' to 'Suresh':")
print(df)

Original DataFrame:
        name  score  attempts qualify
a  Anastasia   12.5         1     yes
b       Dima    9.0         3      no
c  Katherine   16.5         2     yes
d      James    NaN         3      no
e      Emily    9.0         2     yes
f    Michael   20.0         3     yes
g    Matthew   14.5         1      no
h      Laura    NaN         1      no
i      Kevin    8.0         2      no
j      Jonas   19.0         1     yes

==================================================

DataFrame after changing 'James' to 'Suresh':
        name  score  attempts qualify
a  Anastasia   12.5         1     yes
b       Dima    9.0         3      no
c  Katherine   16.5         2     yes
d     Suresh    NaN         3      no
e      Emily    9.0         2     yes
f    Michael   20.0         3     yes
g    Matthew   14.5         1      no
h      Laura    NaN         1      no
i      Kevin    8.0         2      no
j      Jonas   19.0         1     yes

In [4]:
import pandas as pd
import numpy as np

# Part A: Create the DataFrame
exam_data = {
    'name': ['Anastasia', 'Dima', 'Katherine', 'James', 'Emily', 'Michael', 'Matthew', 'Laura', 'Kevin', 'Jonas'],
    'score': [12.5, 9, 16.5, np.nan, 9, 20, 14.5, np.nan, 8, 19],
    'attempts': [1, 3, 2, 3, 2, 3, 1, 1, 2, 1],
    'qualify': ['yes', 'no', 'yes', 'no', 'yes', 'yes', 'no', 'no', 'no', 'yes']
}
labels = ['a', 'b', 'c', 'd', 'e', 'f', 'g', 'h', 'i', 'j']
df = pd.DataFrame(exam_data, index=labels)

print("Original DataFrame:")
print(df)
print("\n" + "="*50 + "\n")

# Part C: Insert a new column
grades = ['A', 'B', 'A', 'C', 'B', 'A', 'A', 'D', 'C', 'A']
df['grade'] = grades

print("DataFrame with new 'grade' column:")
print(df)

Original DataFrame:
        name  score  attempts qualify
a  Anastasia   12.5         1     yes
b       Dima    9.0         3      no
c  Katherine   16.5         2     yes
d      James    NaN         3      no
e      Emily    9.0         2     yes
f    Michael   20.0         3     yes
g    Matthew   14.5         1      no
h      Laura    NaN         1      no
i      Kevin    8.0         2      no
j      Jonas   19.0         1     yes

==================================================

DataFrame with new 'grade' column:
        name  score  attempts qualify grade
a  Anastasia   12.5         1     yes     A
b       Dima    9.0         3      no     B
c  Katherine   16.5         2     yes     A
d      James    NaN         3      no     C
e      Emily    9.0         2     yes     B
f    Michael   20.0         3     yes     A
g    Matthew   14.5         1      no     A
h      Laura    NaN         1      no     D
i      Kevin    8.0         2      no     C
j      Jonas   19.0         1     yes     A

In [5]:
import pandas as pd
import numpy as np

exam_data = {
    'name': ['Anastasia', 'Dima', 'Katherine', 'James', 'Emily', 'Michael', 'Matthew', 'Laura', 'Kevin', 'Jonas'],
    'score': [12.5, 9, 16.5, np.nan, 9, 20, 14.5, np.nan, 8, 19],
    'attempts': [1, 3, 2, 3, 2, 3, 1, 1, 2, 1],
    'qualify': ['yes', 'no', 'yes', 'no', 'yes', 'yes', 'no', 'no', 'no', 'yes']
}
labels = ['a', 'b', 'c', 'd', 'e', 'f', 'g', 'h', 'i', 'j']
df = pd.DataFrame(exam_data, index=labels)

print("Original DataFrame:")
print(df)
print("\n" + "="*50 + "\n")

column_headers = df.columns.tolist()
print("List of DataFrame column headers:")
print(column_headers)

Original DataFrame:
        name  score  attempts qualify
a  Anastasia   12.5         1     yes
b       Dima    9.0         3      no
c  Katherine   16.5         2     yes
d      James    NaN         3      no
e      Emily    9.0         2     yes
f    Michael   20.0         3     yes
g    Matthew   14.5         1      no
h      Laura    NaN         1      no
i      Kevin    8.0         2      no
j      Jonas   19.0         1     yes

==================================================

List of DataFrame column headers:
['name', 'score', 'attempts', 'qualify']

In [6]:
import pandas as pd
import numpy as np

exam_data = {
    'name': ['Anastasia', 'Dima', 'Katherine', 'James', 'Emily', 'Michael', 'Matthew', 'Laura', 'Kevin', 'Jonas'],
    'score': [12.5, 9, 16.5, np.nan, 9, 20, 14.5, np.nan, 8, 19],
    'attempts': [1, 3, 2, 3, 2, 3, 1, 1, 2, 1],
    'qualify': ['yes', 'no', 'yes', 'no', 'yes', 'yes', 'no', 'no', 'no', 'yes']
}
labels = ['a', 'b', 'c', 'd', 'e', 'f', 'g', 'h', 'i', 'j']
df = pd.DataFrame(exam_data, index=labels)

print("Original DataFrame:")
print(df)
print("\n" + "="*50 + "\n")

column_headers = df.columns.tolist()
print("List of DataFrame column headers (from Part E):")
print(column_headers)

Original DataFrame:
        name  score  attempts qualify
a  Anastasia   12.5         1     yes
b       Dima    9.0         3      no
c  Katherine   16.5         2     yes
d      James    NaN         3      no
e      Emily    9.0         2     yes
f    Michael   20.0         3     yes
g    Matthew   14.5         1      no
h      Laura    NaN         1      no
i      Kevin    8.0         2      no
j      Jonas   19.0         1     yes

==================================================

List of DataFrame column headers (from Part E):
['name', 'score', 'attempts', 'qualify']